<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.AccountMapper">

    <select id="getAllAccounts" resultMap="accountResultMap">
        SELECT * FROM Account
    </select>

    <select id="getAccountById" resultMap="accountResultMap">
        SELECT account.account_id, user.user_id, account.account_type, account.balance, account.date_created
        FROM account
        JOIN user ON account.user_id = user.user_id
        WHERE account_id = #{id}
    </select>

    <delete id="deleteAccountById">
        DELETE FROM Account WHERE account_id = #{id}
    </delete>

    <insert id="insertAccount" parameterType="org.example.model.Account">
        INSERT INTO Account(account_id, user_id, account_type, balance, date_created)
        VALUES (#{accountId}, #{userId}, #{accountType}, #{balance}, #{dateCreated})
    </insert>

    <update id="updateAccount" parameterType="org.example.model.Account">
        UPDATE Account
        SET user_id = #{userId}, account_type = #{accountType}, balance = #{balance}, date_created = #{dateCreated}
        WHERE account_id = #{accountId}
    </update>

    <resultMap id="accountResultMap" type="org.example.model.Account" autoMapping="false">
        <id property="accountId" column="account_id" />
        <result property="accountType" column="account_type" />
        <result property="balance" column="balance" />
        <result property="dateCreated" column="date_created" />
        <association property="user" column="user_id" resultMap="org.example.mapper.UserMapper.userResultMap" />
    </resultMap>
</mapper>
