<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.PaymentMapper">

    <select id="getAllPayments" resultMap="paymentResultMap">
        SELECT * FROM Payment
    </select>

    <select id="getPaymentById" resultMap="paymentResultMap">
        SELECT * FROM Payment WHERE payment_id = #{id}
    </select>

    <update id="updatePayment" parameterType="org.example.model.Payment">
        UPDATE Payment
        SET account_id = #{accountId}, amount = #{amount}, currency_id = #{currencyId}, payment_date = #{paymentDate}
        WHERE payment_id = #{paymentId}
    </update>

    <delete id="deletePayment">
        DELETE FROM Payment WHERE payment_id = #{id}
    </delete>

    <insert id="insertPayment" parameterType="org.example.model.Payment">
        INSERT INTO Payment (payment_id, account_id, amount, currency_id, payment_date)
        VALUES (#{paymentId}, #{accountId}, #{amount}, #{currencyId}, #{paymentDate})
    </insert>

    <resultMap id="paymentResultMap" type="org.example.model.Payment" autoMapping="false">
        <id property="paymentId" column="payment_id" />
        <result property="accountId" column="account_id" />
        <result property="amount" column="amount" />
        <result property="currencyId" column="currency_id" />
        <result property="paymentDate" column="payment_date" />
    </resultMap>

</mapper>